<h3>MaxValueComponent</h3>

<h1>Int32.MinValue: @int.MinValue (@int.MinValue.ToString())</h1>
<h1>Int32.MaxValue: @int.MaxValue (@int.MaxValue.ToString())</h1>

<h1>Int64.MinValue: @long.MinValue (@long.MinValue.ToString())</h1>
<h1>Int64.MaxValue: @long.MaxValue (@long.MaxValue.ToString())</h1>

<input type="number" @bind="@value">

<h1> Current num is: @value </h1>

@code {
    private long value = 0;
}