@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Components.Forms
<div class="flex flex-col gap-4 max-w-sm">
    <div class="p-4 rounded-md bg-violet-200 w-max">
        <table>
            <tr class="@tableRow">
                <td class="@tableCell invisible">
                    0
                </td>
                @foreach (var colIdx in ..(Data[0].Length - 1))
                {
                    <td class="@tableCell text-red-500">
                        @colIdx
                    </td>
                }
                <td class="@tableCell text-blue-500">
                    V
                </td>
            </tr>

            @foreach (var colIdx in ..Data.Length)
            {
                var row = Data[colIdx];

                <tr class="@tableRow">
                    <td class="@tableCell text-red-500">
                        @colIdx
                    </td>
                    @foreach (var rowIdx in ..row.Length)
                    {
                        var data = row[rowIdx];
                        <td class="@tableCell @If(data == 0, "text-gray-100") last:text-blue-300">
                            @data
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

    <div class="flex flex-col gap-2 w-full">
        <div class="flex-1 gap-4 bg-slate-100 rounded-md">
            <input class="flex-1 p-4 bg-inherit w-full" value="@_command" @oninput="OnInput" @onkeydown="OnKeyDown"/>
        </div>
        @If(_error is {},
            @<div class="text-red-500">
                @_error
            </div>)
        <div class="flex flex-wrap py-4 w-full">
            @foreach (var item in _history)
            {
                <span class="w-[25%] bg-gray-100 text-center shadow p-4 rounded-md hover:bg-sky-200">
                    @item
                </span>
            }
        </div>
    </div>

</div>

@code {

        const string tableRow = "flex gap-4 hover:bg-violet-300 rounded-md px-2";
        const string tableCell = "w-4 font-semibold text-xl text-end";

    [Parameter, EditorRequired]
    public int[][] Data { get; init; } = default!;

    private string? _command;
    private string? _error;

    private List<string> _history = new();

    private void Run()
    {
        if (_command is {} && Command.TryParse(_command, out var command, out _error)
            && command.Run(Data, out _error))
        {
            _history.Add(command.ToString());
            _command = null;
        }
    }

    private void OnInput(ChangeEventArgs args)
    {
        _command = args.Value as string;
    }

    private void OnKeyDown(KeyboardEventArgs args)
    {
        if (args.Code == "Enter")
        {
            Run();
        }
    }

}